*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #cf8a36;
}

.container {
    border: 1px solid black;
    height: 400px;
    width: 300px;
    border-radius: 50px;
    margin-left: 35%;
    margin-top: 5%;
}

img {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 55%;
}

h1, h2 {
    text-align: center;
    margin-bottom: 5px;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

h2 {
    font-size: 25px;
    font-weight: 400;
}

#complete-line {
    border: 1px solid black;
    height: 4px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
}

#progress-line {
    border: 1px solid goldenrod;
    height: 4px;
    width: 0%;
    background-color: goldenrod;
}

#time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.control {
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-top: 10px;
}